* {
    border: 3px solid red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header .header__heading .about .about__heading {}

.team {}

.team__heading .team__figure .team__figure--beth .team__figure--dan .team__figure--pat .team__figure--reda .team__caption .team__caption--beth .team__caption--dan .team__caption--pat .team__caption--reda .portfolio .portfolio__heading .testimonials .testimonials__heading {}

.contact {}

.contact__heading {}

.contact__form {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.address {}


@media screen and(min-width: 600px) {
    .navigation__list {
        list-style: none;
    }

    .navigation__list li {
        display: inline;
        padding-right: 1em;
    }

    .navigation__list li a {
        text-decoration: none;

    }
}